@model IEnumerable<Legos.Models.ViewModels.OrdersViewModel>
@{
    ViewData["Title"] = "Predictions";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var classTypeDict = new Dictionary<int, string>
    {
        {0, "Not Fraud"},
        {1, "Fraud"}
    };
}


<div class="text-center" style="margin-top: 50px;">
    <h6 class="ribeye-regular" style="font-size: xx-large;">Review Orders</h6>
</div>
<br />
<br />
<div style="overflow-x: auto">
    <table class="table table-bordered table-striped" />
    <thead>
        <tr>
            <th class="text-right">Transaction Id</th>
            <th>Customer Id</th>
            <th>Date</th>
            <th class="text-right">Day of Week</th>
            <th class="text-right">Time</th>
            <th class="text-right">Entry Mode</th>
            <th class="text-right">Amount</th>
            <th class="text-right">Type of Transaction</th>
            <th class="text-right">Country of Transaction</th>
            <th class="text-right">Shipping Address</th>
            <th class="text-right">Bank</th>
            <th class="text-right">Type of Card</th>
            <th class="text-right">Fraud</th> 
            <th class="text-right">Fraud Prediction</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model)
        {
            <tr>
                <td class="product-text Montserrat-font">@o.Orders.TransactionId</td>
                <td class="product-text Montserrat-font">@o.Orders.CustomerId</td>
                <td class="product-text Montserrat-font">@o.Orders.Date</td>
                <td class="product-text Montserrat-font">@o.Orders.DayOfWeek</td>
                <td class="product-text Montserrat-font">@o.Orders.Time</td>
                <td class="product-text Montserrat-font">@o.Orders.EntryMode</td>
                <td class="product-text Montserrat-font">@o.Orders.Amount</td>
                <td class="product-text Montserrat-font">@o.Orders.TypeOfTransaction</td>
                <td class="product-text Montserrat-font">@o.Orders.CountryOfTransaction</td>
                <td class="product-text Montserrat-font">@o.Orders.ShippingAddress</td>
                <td class="product-text Montserrat-font">@o.Orders.Bank</td>
                <td class="product-text Montserrat-font">@o.Orders.TypeOfCard</td>
                <td class="product-text montserrat-font">@o.Orders.Fraud</td>
                <td class="product-text Montserrat-font" style="@(o.Prediction == "Fraud" ? "background-color: red; color: black; font-weight: bold;" : "")">@o.Prediction</td>
           
            </tr>
        }
    </tbody>
    </table>

            </tr>
        }
    </tbody>
    </table>
</div>
@* 
<div page-model="@Model.PaginationInfo" page-action="AdminReviewOrders" page-classes-enables="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

 *@