@page
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Infrastructure
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Legos.Views.Home.CartModel
@{
}
<h1 class="ribeye-regular">Checkout</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>SubTotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
        {
            <tr>
                <td class="text-left">@l.Product.Name</td>
                <td class="text-center">@l.Quantity</td>
                <td class="text-right">@l.Product.Price</td>
                <td class="text-right">(@l.Quantity * @l.Product.Price).ToString("c")</td>
            </tr>
        }
@*         @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
        {
            <tr>
                <td class="text-left">@((l.Product != null) ? l.Product.Name : "Product Not Available")</td>
                <td class="text-center">@l.Quantity</td>
                <td class="text-right">@((l.Product != null) ? l.Product.Price.ToString("c") : "N/A")</td>
                <td class="text-right">
                    @if (l.Product != null)
                    {
                        @(l.Quantity * l.Product.Price).ToString("c")
                    }
                    else
                    {
                        <p>"N/A"</p>
                    }
                </td>
            </tr>
        } *@

    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">@Model.Cart?.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>