@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* @model ProductListViewModel *@
@* @model Product *@
@model ProductDetailsViewModel

<!DOCTYPE html>
<html>
<head>
 <title>Product Detail</title>
    <link rel="stylesheet" href="~/css/site.css"> <!-- Include your CSS file here -->
    </head>
<body>
<h2 class="ribeye-regular">@Model.Product.Name</h2>
    <br />
    <div class="product-container2">
        <div>
            <img src="@Model.Product.ImgLink" alt="@Model.Product.Name" class="product-image2"/>
        </div>

        <div class="product-details-container">
            <div class="product-description2">
                <h4 class="ribeye-regular">Description:</h4>
                <p>@Model.Product.Description</p>
                <!-- Add more details as needed -->
            </div>
            <div class="product-price">
                <p>Price: $@Model.Product.Price</p>
                @* <a class="btn btn-cart" asp-area="" asp-controller="" asp-action="">Add to Cart</a> *@
                <form asp-page="/Cart" method="post">
                    <input type="hidden" name="productId" value="@Model.Product.ProductId" />
                    <button type="submit" class="btn btn-cart">Add to Cart</button>
                </form>
            </div>
        </div>
    </div>
    <!-- You can add more buttons or actions related to the product here -->
    <div class="container">
        <h2 class="mt-5">Recommended items:</h2>
        <div class="row justify-content-center">
                @if (Model.RecommendedProduct1 != null)
                {
                    <div class="col">
                        <div class="product-item">
                            <img class="product-image" src="@Model.RecommendedProduct1.ImgLink" alt="Exotic Peacock">
                            <h3 class="product-text Montserrat-font">@Model.RecommendedProduct1.Name</h3>
                            @* <a class="btn btn-cart" asp-area="" asp-controller="" asp-action="">Add to Cart</a> *@
                            <a class="btn btn-cart" href="@Url.Action("ProductDetail", "Home", new { productId = Model.RecommendedProduct1.ProductId })">View Item</a>
                            <form asp-page="/Cart" method="post">
                            <input type="hidden" name="productId" value="@Model.RecommendedProduct1.ProductId" />
                                <button type="submit" class="btn btn-cart">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                }
                @if (Model.RecommendedProduct2 != null)
                {
                    <div class="col">
                        <div class="product-item">
                            <img class="product-image" src="@Model.RecommendedProduct2.ImgLink" alt="Exotic Peacock">
                            <h3 class="product-text Montserrat-font">@Model.RecommendedProduct2.Name</h3>
                            @* <a class="btn btn-cart" asp-area="" asp-controller="" asp-action="">Add to Cart</a> *@
                            <a class="btn btn-cart" href="@Url.Action("ProductDetail", "Home", new { productId = Model.RecommendedProduct2.ProductId })">View Item</a>
                            <form asp-page="/Cart" method="post">
                            <input type="hidden" name="productId" value="@Model.RecommendedProduct2.ProductId" />
                                <button type="submit" class="btn btn-cart">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                }
                @if (Model.RecommendedProduct3 != null)
                {
                    <div class="col">
                        <div class="product-item">
                            <img class="product-image" src="@Model.RecommendedProduct3.ImgLink" alt="Exotic Peacock">
                            <h3 class="product-text Montserrat-font">@Model.RecommendedProduct3.Name</h3>
                            @* <a class="btn btn-cart" asp-area="" asp-controller="" asp-action="">Add to Cart</a> *@
                            <a class="btn btn-cart" href="@Url.Action("ProductDetail", "Home", new { productId = Model.RecommendedProduct3.ProductId })">View Item</a>
                            <form asp-page="/Cart" method="post">
                                <input type="hidden" name="productId" value="@Model.RecommendedProduct3.ProductId" />
                                <button type="submit" class="btn btn-cart">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                }
                @if (Model.RecommendedProduct4 != null)
                {
                    <div class="col">
                        <div class="product-item">
                            <img class="product-image" src="@Model.RecommendedProduct4.ImgLink" alt="Exotic Peacock">
                            <h3 class="product-text Montserrat-font">@Model.RecommendedProduct4.Name</h3>
                            @* <a class="btn btn-cart" asp-area="" asp-controller="" asp-action="">Add to Cart</a> *@
                            <a class="btn btn-cart" href="@Url.Action("ProductDetail", "Home", new { productId = Model.RecommendedProduct4.ProductId })">View Item</a>
                            <form asp-page="/Cart" method="post">
                            <input type="hidden" name="productId" value="@Model.RecommendedProduct4.ProductId" />
                                <button type="submit" class="btn btn-cart">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                }
                @if (Model.RecommendedProduct5 != null)
                {
                    <div class="col">
                        <div class="product-item">
                            <img class="product-image" src="@Model.RecommendedProduct5.ImgLink" alt="Exotic Peacock">
                            <h3 class="product-text Montserrat-font">@Model.RecommendedProduct5.Name</h3>
                            @* <a class="btn btn-cart" asp-area="" asp-controller="" asp-action="">Add to Cart</a> *@
                            <a class="btn btn-cart" href="@Url.Action("ProductDetail", "Home", new { productId = Model.RecommendedProduct5.ProductId })">View Item</a>
                            <form asp-page="/Cart" method="post">
                            <input type="hidden" name="productId" value="@Model.RecommendedProduct5.ProductId" />
                                <button type="submit" class="btn btn-cart">Add to Cart</button>
                            </form>
                        </div>
                    </div>
                }
        </div>
    </div>
</body>
</html>
