﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ProductListViewModel
@* @model IQueryable<Product> *@

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-4 text-left">
            <label class="mr-2">Filter by Color:</label>
            <select class="mr-4">
                <option>None</option>
                <option value="Grey">Grey</option>
                <option value="Black">Black</option>
                <option value="Blue">Blue</option>
                <option value="Red">Red</option>
                <option value="Tan">Tan</option>
                <option value="Brown">Brown</option>
                <option value="White">White</option>
                <option value="Green">Green</option>
                <option value="Yellow">Yellow</option>
                <option value="Pink">Pink</option>
                <option value="Orange">Orange</option>
            </select>
            <label class="mr-2">Filter by Category:</label>
            <select>
                <option>None</option>
                <option value="DC">DC</option>
                <option value="HarryPotter">Harry Potter</option>
                <option value="StarWars">Star Wars</option>
                <option value="Flight">Flight</option>
                <option value="Personal">Personal</option>
                <option value="Vehicle">Vehicle</option>
                <option value="Car">Car</option>
                <option value="Promotional">Promotional</option>
                <option value="Motorbike">Motorbike</option>
                <option value="Person">Person</option>
                <option value="Game">Game</option>
                <option value="Minifig">Minifig</option>
                <option value="Food">Food</option>
                <option value="Train">Train</option>
                <option value="Animal">Animal</option>
                <option value="Building">Building</option>
                <option value="Part">Part</option>
                <option value="Energy">Energy</option>
                <option value="Character">Character</option>
                <option value="Disney">Disney</option>
                <option value="Floral">Floral</option>
                <option value="Colorful">Colorful</option>
                <option value="Farm">Farm</option>
                <option value="Structure">Structure</option>
            </select>
        </div>
        <div class="col-md-4 text-center">
            <h1 class="display-4 ribeye-regular">Products</h1>
        </div>
        <div class="col-md-4 text-right">
            <div class="row align-items-center justify-content-end">
                <div class="col-auto">
                    <!-- Add your filter icon or other elements here -->
                </div>
                <div class="col-auto ml-2">
                    <p class="mb-0">Items on Page:</p>
                </div>
                <div class="col-auto">
                    <a href="#" class="mr-1">5</a>
                </div>
                <div class="col-auto">
                    <span>|</span>
                </div>
                <div class="col-auto">
                    <a href="#" class="mr-1">10</a>
                </div>
                <div class="col-auto">
                    <span>|</span>
                </div>
                <div class="col-auto">
                    <a href="#">20</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-3">
    <div class="row">
        @foreach (Product p in Model.Products)
        {
            <div class="col-md-6">
                <div class="product-item">
                    <img src="@p.ImgLink" class="product-image" />
                    <a class="ribeye-regular .product-item product-text" href="@Url.Action("ProductDetail", "Home", new { productId = p.ProductId })">@p.Name</a>
                    @*                         <a href="@Url.Action("ProductDetail", "Home", new { productId = p.ProductId })">View Details</a> *@
                    <p class="product-text Montserrat-font">Price: $@p.Price</p>
@*                     <a class="btn btn-cart" asp-area="" asp-controller="" asp-action="">Add to Cart</a>
 *@
                    <form asp-page="/Cart" method="post">
                        <input type="hidden" name="productId" value="@p.ProductId" />
                        <button type="submit" class="btn btn-cart">Add to Cart</button>
                    </form>

                </div>
            </div>
        }
    </div>
</div>

@* @foreach(ProductListViewModel p in Model.Products)
{
    <h3>@p.ProductName</h3>
} *@


@* <div page-model="@Model.PaginationInfo" page-action="Products"></div>
 *@
<div page-model="@Model.PaginationInfo" page-action="Products" page-classes-enables="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-4"></div>
